

    <div class="container bg-warning border border-2 rounded border border-dark " style="height:500px;width:400px;margin-top: 200px;">
<form [formGroup]="loginuserform" (ngSubmit)="userlogin()">
  <div class="d-flex flex-column" style="position:relative; top:170px">
  <input class="mt-2 mb-2 border border-1 rounded border border-dark" formControlName="username" type="text" placeholder="Enter username" >
  <span *ngIf="loginuserform.get('username')?.invalid && loginuserform.get('username')?.touched" style="color:rgb(190, 47, 47)">Enter a valid Username</span>
  <input class="mt-2 mb-2 border border-1 rounded border border-dark" formControlName="password" type="password" placeholder="Enter password" >
  <span *ngIf="loginuserform.get('password')?.invalid && loginuserform.get('password')?.touched" style="color:rgb(190, 47, 47)">Enter Valid Password of min 6 characters</span>
  <div class="row">
    <div class="col-2">
      
        
  <button [disabled]="loginuserform.invalid" class="mt-2 bg-primary mb-2 border border-1 rounded border border-dark" style="width: 100px; position:relative; left:130px">login</button>
  
  </div>
  </div>
  </div>
  

</form>
</div>

